
		body{
			font-size: 17px;
			font-family: arial;
			background: #f4f4f4;
			line-height: 1.5em;
		}
		header{
			background:#333;
			color:#fff;
			padding:20px;
			text-align: center;
			border-bottom: 4px #000 solid;
			margin-bottom: 10px;
		}
		#container{
			width:90%;
			margin:auto;
			padding:10px;
		}
		#result{
		  border: 2px gray solid;
		  width: 220px;
		  padding-left: 10px;
		  box-shadow: 10px 10px 5px #888888;
		  	
		}
		header{
			background-color:darkblue;
		}
		div{
			float: left;
		}

		.thank-you{
      font-size: 16px;
      padding: 20px;	
    }
    #people-form{
      padding: 10px;
    }
    #people-form input{
      width: 300px;
    }
    label{
      display: block;
    }
    .form-control{
      width: auto;
    }
    .help-block{
      margin-left:10px;
    }
    .progress{
      width: 300px;
      height:10px;
      border-radius:0px;
      margin-top: 2px;
    }
    #btn-submit{
        width: 300px;
    }
  
	